<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColisionSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ColisionSoft.Properties.Settings.ColisionSoftConStr"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ColisionSoft.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ColisionSoft.Properties.Settings>
            <setting name="nombreNegocio" serializeAs="String">
                <value>Colision Virtual</value>
            </setting>
            <setting name="ticket" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="caja_inicial" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="caja_final" serializeAs="String">
                <value>0</value>
            </setting>
        </ColisionSoft.Properties.Settings>
    </userSettings>
</configuration>